<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/sweet-alert.css"/>
    <link href="assets/css/pager.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="assets/css/jquery.mloading.css">
    <link href="assets/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/layers.min.css" rel="stylesheet" type="text/css"/>
    <!-- <link href="assets/css/common.css" rel="stylesheet" type="text/css"/> -->
    <style type="text/css">
    	body{background: #fff;}
    	.clearfix { *zoom: 1;} 
		.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
		.clearfix:after { clear: both;}
    	ul{padding: 0;}
    	li{list-style-image:none;list-style-position: outside;list-style-type:none;}
    	input[type=text],input[type=password],textarea, input[type=text]:focus, input[type=password]:focus, textarea:focus, button, button:focus{-webkit-appearance:textfield;outline:0}
    	th{
    		text-align: left;
    	}
        .layui-table thead{
            background-color: #e4e4e4;
            
        }
        .layui-table th, .layui-table td{
            min-height: 20px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            padding: 8px 10px;
        }

        .hide{
        	display: none;
        }
        .search-btn {
		    width: 77px;
		    height: 36px;
		    font-size: 14px;
		    color: #fff;
		    text-align: center;
		    line-height: 35px;
		    background-color: #30B19B;
		    border-radius: 4px;
		    border: none;
		    cursor: pointer;
		}
        .lamp-input {
		    height: 35px;
		    line-height: 1;
		    line-height: 35px\9;
		    border-width: 1px;
		    border-style: solid;
		    background-color: #fff;
		    border-color: #ccc;
		    border-radius: 2px;
		    padding-left: 5px;
		}
		.pageJump{
			margin: 20px 15px;
		}
		.form-group{
			display: inline-block;
		}
    </style>
</head>
<body style="width:800px;margin: 10px 10px 0; overflow-x: hidden;">
	<div id="distpicker5">
		<div class="form-group">
            <label class="lamp-form-label" style="padding-left: 0 !important;">状态：</label>
            <select name="state" id="state" class="lamp-input">
                <!-- <option value="">选择状态</option> -->
                <!-- <option value="1">管理员</option>
                <option value="2">代理商</option>
                <option value="3">交通部</option> -->
            </select>
        </div>
        <div class="form-group">
            <label class="lamp-form-label" style="padding-left: 0 !important;">时间范围：</label>
            <input type="text" class="lamp-input" id="test10" placeholder=" - ">
        </div>
        <button class="search-btn">查询</button>
    </div>
	<table class="layui-table">
        <colgroup>
            <col style="width:80px;">
        </colgroup>
        <thead>
        	<tr>
                <th width="220">
                    部门名称
                </th>
                <th width="200">
                    区域名称
                </th>
                <th width="450">
                    详细地址
                </th>
                <th width="200">
                    设备电压(V)
                </th>
                <th width="200">
                    信号强度
                </th>
                <th width="200">
                    状态
                </th>
                <th width="280">
                    上报时间
                </th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <div class="page-box clearfix">
        <div style="float:right;">
            <label class="pages" style="float: left; line-height: 60px; margin-right: 20px;"></label>
            <ul class="pagination" id="page1" style="float: left;">
            </ul>
            <div class="pageJump">
                <input type="text" style="padding: 5px 8px;" />
                <button type="button" class="button" style="padding: 5px;">跳转</button>
            </div>
        </div>
    </div>
	<script src="assets/plugins/jquery/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.goeasy.io/goeasy.js"></script>
	<script src="assets/js/jquery.mloading.js"></script>
	<script src="layer-v3.1.0/layer/layer.js"></script>
	<script src="assets/js/sweet-alert.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="assets/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="layer-v3.1.0/layer/layer.js"></script>
	<script src="laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
	<script src="assets/js/pager.js" type="text/javascript" charset="utf-8"></script>
	<script src="assets/js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="assets/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/template" id="modelOption1">
        <% var map = obj.data %>
        <option value="">不限</option>
        <% for(var i=0;i<map.length;i++){ %>
            <% var item = map[i] %>
            <option value="<%=item.id%>"><%=item.stateName%></option>
        <% } %>
    </script>
    <script type="text/template" id="model1">
        <% var map = obj.list %>
        <% for(var i=0;i<map.length;i++){ %>
            <% var item = map[i] %>
            <tr>
                <td><%=item.deptName%></td>
                <td><%=item.areaName%></td>
                <td><%=item.address%></td>
                <td><%=item.voltage%></td>
                <td><%=item.gprsSignal%></td>
                <td><%=item.stateName%></td>
                <td><%=item.reportingTime%></td>
            </tr>
        <% } %>
    </script>
    <script type="text/javascript">
        //日期时间范围
        laydate.render({
            elem: '#test10'
            ,type: 'datetime'
            ,range: true
        });
    </script>
	<script type="text/javascript">
		$(function(){
			$('body').mLoading("show");

			common.ajax('/HuaXtentCover/devAlarm/selectStateTypes', 'GET', '', function(res){
				if(res.success){
					if(res.data.length > 0){
						var detail=res;
						var modelOption1=$("#modelOption1").html();
						var template=_.template(modelOption1)(detail);
						$("#state").html(template);
					}
				}else{
					if(res.code == 2001){
						__againLogin(res.message);
					}else{
						var oMsg = res.message;
				        layer.msg('提示,' + oMsg,{
				            shade: 0.3,
				            shadeClose:true,
				            time:2000,
				            icon: 2
				        },
				        function(){
				        	$('body').mLoading("hide");
		        			// $('.page-box').hide();
				        });
					}
				}
			})
			var oRequestUrl1 = '/HuaXtentCover/devAlarm/query';
			var oPs1 = 8;
			var oProductType = 2;
			function __againLogin(data){
				var oMsg = '请稍后尝试';
		        layer.msg('提示,' + oMsg,{
		            shade: 0.3,
		            shadeClose:true,
		            time:2000,
		            icon: 2
		        },
		        function(){
		            var index = parent.layer.getFrameIndex(window.name);
	                parent.layer.close(index);
	                window.location.reload();
		        });
			}

			var oData = {
				ps: oPs1,
				cp: 1,
				productType: oProductType,
				imei: sessionStorage.oCoverImei
			}
			common.ajax(oRequestUrl1, 'GET', oData, function(res){
				if(res.success){
					if ( res.data.list.length > 0 ) {
						res.data.list.map(function(item){
							item.reportingTime = new Date(item.reportingTime).Format("yyyy-MM-dd hh:mm:ss");
							// item.voltage = parseFloat(item.voltage) / 10;
						})
						var detail=res.data;
						var model1=$("#model1").html();
						var template=_.template(model1)(detail);
						$(".layui-table tbody").html(template);
						$('body').mLoading("hide");
					}else{
						layer.msg('暂无信息',{
							shade: 0.3,
							shadeClose:true,
							time:4000,
							icon: 1
						})
						var oHtml = ' '
						$(".layui-table tbody").html(oHtml);
						$('body').mLoading("hide");
					}
					__page(res);
				}else{
					if(res.code == 2001){
						__againLogin(res.message);
					}else{
						var oMsg = res.message;
				        layer.msg('提示,' + oMsg,{
				            shade: 0.3,
				            shadeClose:true,
				            time:2000,
				            icon: 2
				        },
				        function(){
				        	$('body').mLoading("hide");
		        			$(".pages").text('共有0条, 每页显示8条');
				        });
					}
				}
				
			});

			function __page(res){
				Page({
					num: res.data.totalPage,					//页码数
					startnum:res.data.index,				//指定页码
					elem:$('#page1'),		//指定的元素
					callback:function(n){	//回调函数
						console.log(n);
						__pagesNext(n);
					}
				});
				var oText = '共有'+ res.data.totalCount +'条, 每页显示'+ res.data.size +'条';
				$('.pages').html(oText);
				if (res.data.totalPage > 1 ) {
					$('.pageJump').show();
				}else{
					$('.pageJump').hide();
				}
			}

			function __pagesNext(n){
				$('body').mLoading("show");
				var oData = {};
				oData.cp = n;
				oData.ps = oPs1;
				oData.productType = oProductType;
				oData.imei = sessionStorage.oCoverImei;

				if ($('#state').val().length > 0) {
					oData.state = $('#state').val();
				}
				if ($('#test10').val().length > 0) {
					var strStart = $('#test10').val().substring(0, 19).replace(/-/g,'/');
					var dateStart = new Date(strStart);
					oData.startTime = dateStart.getTime();
					var strEnd = $('#test10').val().substring(22, $('#test10').val().length).replace(/-/g,'/');
					var dateEnd = new Date(strEnd);
					oData.engTime = dateEnd.getTime();
				}
				__pageAll(oData)
			}
			function __pageAll(data){
				var oData = data;
				common.ajax(oRequestUrl1, 'GET', oData, function(res){
					if(res.success){
						if ( res.data.list.length > 0 ) {
							res.data.list.map(function(item){
								item.reportingTime = new Date(item.reportingTime).Format("yyyy-MM-dd hh:mm:ss");
								// item.voltage = parseFloat(item.voltage) / 10;
							})
							var detail=res.data;
							var model1=$("#model1").html();
							var template=_.template(model1)(detail);
							$(".layui-table tbody").html(template);
							$('body').mLoading("hide");
						}else{
							layer.msg('暂无信息',{
								shade: 0.3,
								shadeClose:true,
								time:4000,
								icon: 1
							})
							var oHtml = ' '
							$(".layui-table tbody").html(oHtml);
							$('body').mLoading("hide");
						}
						__page(res);
					}else{
						if(res.code == 2001){
							__againLogin(res.message);
						}else{
							var oMsg = res.message;
					        layer.msg('提示,' + oMsg,{
					            shade: 0.3,
					            shadeClose:true,
					            time:2000,
					            icon: 2
					        },
					        function(){
					        	$('body').mLoading("hide");
					        	$(".pages").text('共有0条, 每页显示8条');
			        			// $('.page-box').hide();
					        });
						};
					}
				});
			}

			// 搜索
			$('body').on('click','.search-btn',function(e){
				e.preventDefault();
				$('body').mLoading("show");
				var oData = {};
				oData.cp = 1;
				oData.ps = oPs1;
				oData.productType = oProductType;
				oData.imei = sessionStorage.oCoverImei;
				if ($('#state').val().length > 0) {
					oData.state = $('#state').val();
				}
				if ($('#test10').val().length > 0) {
					var strStart = $('#test10').val().substring(0, 19).replace(/-/g,'/');
					var dateStart = new Date(strStart);
					oData.startTime = dateStart.getTime();
					var strEnd = $('#test10').val().substring(22, $('#test10').val().length).replace(/-/g,'/');
					var dateEnd = new Date(strEnd);
					oData.engTime = dateEnd.getTime();
				}
				common.ajax(oRequestUrl1, 'GET', oData, function(res){
					if(res.success){
						if ( res.data.list.length > 0 ) {
							res.data.list.map(function(item){
								item.reportingTime = new Date(item.reportingTime).Format("yyyy-MM-dd hh:mm:ss");
								// item.voltage = parseFloat(item.voltage) / 10;
							})
							var detail=res.data;
							var model1=$("#model1").html();
							var template=_.template(model1)(detail);
							$(".layui-table tbody").html(template);
							$('body').mLoading("hide");
						}else{
							layer.msg('暂无信息',{
								shade: 0.3,
								shadeClose:true,
								time:4000,
								icon: 1
							})
							var oHtml = ' '
							$(".layui-table tbody").html(oHtml);
							$('body').mLoading("hide");
						}
						__page(res);
					}else{
						if(res.code == 2001){
							__againLogin(res.message);
						}else{
							var oMsg = res.message;
					        layer.msg('提示,' + oMsg,{
					            shade: 0.3,
					            shadeClose:true,
					            time:2000,
					            icon: 2
					        },
					        function(){
					        	$('body').mLoading("hide");
			        			// $('.page-box').hide();
					        });
						}
						layer.msg('暂无信息',{
							shade: 0.3,
							shadeClose:true,
							time:4000,
							icon: 1
						})
						var oHtml = ' ';
						$(".layui-table tbody").html(oHtml);
						$(".pages").text('共有0条, 每页显示8条');
						$('body').mLoading("hide");
					}
				});
			});
			
		});
	</script>
</body>
</html>
